<h1>Meu <%= Profile.model_name.human %></h1>

<p>
  <strong><%= t 'full_name' %>: </strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong><%= Profile.human_attribute_name :work_experience %>: </strong>
  <%= @profile.work_experience %>
</p>

<p>
  <strong><%= Profile.human_attribute_name :education %>: </strong>
  <%= @profile.education %>
</p>

<% if @profile.first_update? %>
  <%= link_to 'Completar perfil', edit_profile_path(current_user.profile) %>
<% else %>
  <%= link_to 'Atualizar perfil', edit_profile_path(current_user.profile) %>
<% end %>

