<%= render 'shared/project_header', project: @project %>
<div id="vue-app">
  <forum-vue>{{ project.title }}
    <div class="row">
      <div class="col-md-8 mx-auto mt-3">
        <label class="form-label visually-hidden" for="searchText">Pesquisar</label>
        <input class="form-control mb-3" v-model="searchText" type="text" name="searchText" id="searchText" placeholder="Busque por postagens">
        <form @submit.prevent="submitForm">
          <div>
            <label for="title" class="form-label"><%= Post.human_attribute_name('title') %></label>
            <input type="text" id="title" v-model="newPost.title" class="form-control">
          </div>
          <div>
            <label for="body" class="form-label"><%= Post.human_attribute_name('body') %></label>
            <textarea id="body" v-model="newPost.body" class="form-control"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mb-3 mt-1">Postar</button>
          </div>
        </form>
        <div class="list-group">
          <div class="list-group-item py-3" v-for="item, index in filteredPosts" :key="item.id">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ item.title }}</h5>
              <small>{{ item.date }}</small>
              <small>{{ index }}</small>
            </div>
            <p class="mb-1">{{ item.body }}</p>
            <small>por {{ item.author }}</small>
          </div>
        </div>
      </div>
    </div>
  </forum-vue>ss
</div>
<script>
  var project = <%= { id: @project.id, title: @project.title }.to_json.html_safe %>
  var posts = <%= @posts.map { |post| { id: post.id,
                                        title: post.title,
                                        body: post.body,
                                        date: "Postado há #{time_ago_in_words(post.created_at)}",
                                        author: post.user.full_name } }.to_json.html_safe %>;
  var errors = <%= { error: @errors }.to_json.html_safe %>;
</script>
