<section class="mb-3">
  <%= form_with(model: [@project, @meeting]) do |f| %>
    <% if @meeting.errors.any? %>
      <div class='alert alert-danger'>
        <h3><%= I18n.t('.errors_title') %>:</h3>
        <ul>
          <% @meeting.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :title, 
                  class: 'form-label required' %>
      <%= f.text_field :title, 
                      class: 'form-control',
                      autofocus: true %>
    </div>
    <div class="mb-3">
      <%= f.label :description, 
                  class: 'form-label' %>
      <%= f.text_area :description, 
                      class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :datetime, 
                  class: 'form-label required' %>
      <%= f.datetime_local_field :datetime, 
                                class: 'form-control', 
                                id:'datetime' %>
    </div>
    <div class="mb-3">
      <%= f.label :duration, 
                  class: 'form-label required' %>
      <%= f.number_field :duration, 
                          class: 'form-control', 
                          placeholder: t('meetings.duration_placeholder') %>
    </div>
    <div class="mb-3">
      <%= f.label :address, 
                  class: 'form-label required' %>
      <%= f.text_field :address, 
                      class: 'form-control' %>
    </div>
    
    <%= render 'shared/required_fields' %>
    
    <div>
      <%= f.submit I18n.t('meetings.save'), class: 'btn btn-primary'%>
      <%= link_to t(:back), project_meetings_path(@project), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</section>