<%= render 'shared/project_header', project: @project %>

<section>
  <div class="mb-3 mt-3">
    <%= link_to I18n.t('meetings.new_meeting'), 
                new_project_meeting_path(@project),
                class: 'btn btn-primary' %>
  </div>

  <div id="meeting-list">
    <% if @meetings.empty? %>
      <p><%= t('meetings.empty_state') %></p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t('meetings.date')%></th>
            <th><%= t('meetings.time')%></th>
            <th><%= Meeting.human_attribute_name :title %></th>
            <th><%= Meeting.human_attribute_name :duration %></th>
          </tr>
        </thead>

        <tbody>
          <% @meetings.each do |meeting| %>
            <tr>
              <td><%= l(meeting.datetime.to_date) %></td>
              <td><%= meeting.datetime.strftime("%H:%M") %></td>
              <td><%= link_to meeting.title, project_meeting_path(@project, meeting) %></td>
              <td><%= format_duration(meeting.duration) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>