<h1><%= Meeting.model_name.human(count: 2) %></h1>

<%= link_to I18n.t('meetings.new_meeting'), new_project_meeting_path(@project) %>
<br>
<br>
<% if @meetings.empty? %>
  <%= I18n.t('meetings.no_meetings') %>
<% end %>
<ul style="list-style-type: none;">
  <% @meetings.each_with_index do |meeting, index| %>
    <% unless @meetings[index - 1].datetime.to_date == meeting.datetime.to_date %>
      <div class="row border-bottom mb-3 mt-5">
        <h4 class="text-center" id="<%= meeting.datetime.to_date %>"><%= I18n.l meeting.datetime.to_date, class:'text-center' %></h4>
        <br>
      </div>
    <% end %>
    <div class="pl-5">
      <li><h4><%= link_to meeting.title, project_meeting_path(@project, meeting) %>
      <span style="font-size: small;"><%= meeting.datetime.strftime("%H:%M") %>
      <%= format_duration(meeting.duration) %></span></h4></li>
    </div>
  <% end %>
</ul>
