<%= render 'shared/project_header', project: @project %>

<h1><%= Meeting.model_name.human %>: <%= @meeting.title %></h1>

<dl>
  <dt><%= Meeting.human_attribute_name :user_role %></dt>
  <dd><%= @meeting.user_role.user.email %></dd>

  <dt><%= Meeting.human_attribute_name :duration %></dt>
  <dd><%= format_duration(@meeting.duration) %></dd>

  <dt><%= Meeting.human_attribute_name :description %></dt>
  <% unless @meeting.description.blank? %>
    <dd><%= @meeting.description %></dd>
  <% else %>
    <dd><%= I18n.t('meetings.no_description') %></dd>
  <% end %>

  <dt><%= Meeting.human_attribute_name :address %></dt>
  <dd><%= link_to_address(@meeting.address) %></dd>

  <dt><%= Meeting.human_attribute_name :datetime %></dt>
  <dd><%= @meeting.datetime.strftime("%d/%m/%Y, %H:%M") %></dd>
</dl>

<div>
  <h3>Lista de Participantes</h3>
  <%= @participants.each do |participant| %>
    <%= participant.user_role.user.full_name %>
  <% end %>
</div>

<div>
  <%= link_to I18n.t('meetings.add_meeting_participants'), 
              new_project_meeting_meeting_participant_path(@project, @meeting),
              class: 'btn btn-primary' %>
  <%= link_to I18n.t('meetings.edit_meeting'), 
              edit_project_meeting_path(@project, @meeting),
              class: 'btn btn-primary' %>
  <%= link_to I18n.t('.back'), 
              project_meetings_path(@meeting.project),
              class: 'btn btn-secondary' %>
</div>
