<h2> <%= I18n.t("devise.registrations.edit.title", resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= I18n.t("currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%=I18n.t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it")%>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= I18n.t("devise.shared.minimum_password_length.other", count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%=I18n.t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes")%>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t("devise.registrations.edit.update") %>
  </div>
<% end %>

<h3><%=I18n.t("devise.registrations.edit.cancel_my_account")%></h3>

<div><%=I18n.t("devise.registrations.edit.unhappy")%> <%= button_to I18n.t("devise.registrations.edit.cancel_my_account"), registration_path(resource_name), data: { confirm: I18n.t("devise.registrations.edit.are_you_sure"), turbo_confirm: I18n.t("devise.registrations.edit.are_you_sure") }, method: :delete %></div>

<%= link_to I18n.t("devise.shared.links.back"), :back %>
