<h1><%= t('.subject') %></h1>

<p><%= @meeting.user.full_name %> <%= t('.meeting_invitation') %>:</p>

<h3><%= @meeting.title %></h3>
<p><%= Meeting.human_attribute_name :address %>: <%= link_to_address @meeting.address %></p>
<p><%= Meeting.human_attribute_name :datetime %>: <%= @meeting.datetime.strftime("%d/%m/%Y, %H:%M") %></p>
<p><%= Meeting.human_attribute_name :duration %>: <%= format_duration(@meeting.duration)%></p>
<p><%= t('.meeting_details')%> <%= link_to t('.here'), project_meeting_url(@meeting.project, @meeting) %></p>