<%= render 'shared/project_header', project: @project %>

<section>
  <div class="mb-3 mt-3">
    <%= link_to I18n.t('tasks.new_task'), 
                new_project_task_path(@project),
                class: 'btn btn-primary' %>
  </div>

<div id="task-list">
    <% if @tasks.empty? %>
      <p><%= t(:task_empty_state) %></p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Task.human_attribute_name :title %></th>
            <th><%= Task.human_attribute_name :assigned %></th>
            <th><%= Task.human_attribute_name :due_date %></th>
            <th><%= Task.human_attribute_name :status %></th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.title, project_task_path(@project, task) %></td>
              <td><%= task.assigned ? task.assigned.email : t('tasks.no_assigned') %></td>
              <td><%= task.due_date ? task.due_date : t('tasks.no_due_date') %></td>
              <td><%= t(task.status) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>