<%= render 'shared/project_header', project: @task.project %>
<h1><%= Task.model_name.human %>: <%= @task.title %></h1>
<dl>
  <dt><%= Task.human_attribute_name :description %></dt>
  <dd><%= @task.description %></dd>
  <dt><%= Task.human_attribute_name :user_role %></dt>
  <dd><%= @task.user_role.user.full_name %></dd>
  <dt><%= Task.human_attribute_name :status %></dt>
  <dd><%= I18n.t(@task.status) %></dd>
  <dt><%= Task.human_attribute_name :assigned %></dt>
  <% if @task.assigned %>
    <dd><%= @task.assigned.email %></dd>
  <% else %>
    <dd><%= I18n.t('tasks.no_assigned') %></dd>
  <% end %>
  <dt><%= Task.human_attribute_name :due_date %></dt>
  <% if @task.due_date %>
    <dd><%= I18n.l @task.due_date %></dd>
  <% else %>
    <dd><%= I18n.t('tasks.no_due_date') %></dd>
  <% end %>
</dl>
<br>
<div class="d-flex mb-3">
  <%= button_to I18n.t('tasks.start_task'),
                start_project_task_path(@project, @task), method: :patch,
                class: 'btn btn-primary me-2' if @task.uninitialized? %>
  <%= button_to I18n.t('tasks.finish_task'),
                finish_project_task_path(@project, @task), method: :patch,
                class: 'btn btn-primary me-2' if @task.in_progress? %>
  <%= button_to I18n.t('tasks.cancel_task'),
                cancel_project_task_path(@project, @task), method: :patch,
                data: { turbo_confirm: t(:task_cancel_confirmation) },
                class: 'btn btn-danger me-2' if @task.uninitialized? || @task.in_progress? %>
  <%= link_to I18n.t('tasks.edit_task'),
              edit_project_task_path(@project, @task),
              class: 'btn btn-secondary' unless @task.finished? || @task.cancelled? %>
</div>
<div>
  <%= link_to I18n.t('.back'),
              project_tasks_path(@task.project),
              class: 'btn btn-secondary' %>
</div>
