<h1><%= Task.model_name.human %>: <%= @task.title %></h1>

<dt><%= Task.human_attribute_name :description %></dt>
<dd><%= @task.description %></dd>

<dt><%= Task.human_attribute_name :author %></dt>
<dd><%= @task.author.email %></dd>

<dt><%= Task.human_attribute_name :assigned %></dt>
<% if @task.assigned %>
  <dd><%= @task.assigned.email %></dd>
<% else %>
  <dd>Sem responsável</dd>
<% end %>

<dt><%= Task.human_attribute_name :due_date %></dt>
<% if @task.due_date %>
  <dd><%= @task.due_date %></dd>
<% else %>
  <dd>Sem prazo</dd>
<% end %>