<h1><%= Task.model_name.human %>: <%= @task.title %></h1>

<dt><%= Task.human_attribute_name :description %></dt>
<dd><%= @task.description %></dd>

<dt><%= Task.human_attribute_name :author %></dt>
<dd><%= @task.author.email %></dd>

<dt><%= Task.human_attribute_name :assigned %></dt>
<% if @task.assigned %>
  <dd><%= @task.assigned.email %></dd>
<% else %>
  <dd><%= I18n.t('tasks.no_assigned') %></dd>
<% end %>

<dt><%= Task.human_attribute_name :due_date %></dt>
<% if @task.due_date %>
  <dd><%= I18n.l @task.due_date %></dd>
<% else %>
  <dd><%= I18n.t('tasks.no_due_date') %></dd>
<% end %>

<%= link_to I18n.t('tasks.edit_task'), edit_project_task_path(@project, @task) %>