<h3 class="mb-3"><%= t('sending_invitation')%></h3>

<% if invitation.errors.any? %>
  <div class='text-danger'>
    <h3><%= I18n.t('.errors_title') %>:</h3>
    <ul>
      <% invitation.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if current_invitation.present? %>
  <p><%= I18n.t('invitations.create.pending_invitation') %></p>
  <%= button_to I18n.t('invitations.cancel_button'), cancel_invitation_path(current_invitation.id), method: :patch, class: 'btn btn-danger' %>
<% else %>
  <%= form_with(model: invitation, url: project_portfoliorrr_profile_invitations_path(project, profile.id), local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :expiration_days, class: 'form-label' %>
      <div class="row">
        <div class="col-2"></div>
          <%= form.number_field :expiration_days, class: 'form-control', min: 0 %>
        </div>
      </div>
    </div>

    <%= form.submit I18n.t('invitations.send_invitation'), class: 'btn btn-primary' %>
  <% end %>
<% end %>
