<%= link_to t('back'), search_project_portfoliorrr_profiles_path(@project), class: 'btn btn-secondary' %>

<h1><%= t('profile_search_title', project_title: @project.title) %></h1>

<% if @portfoliorrr_profile.present? %>
  <section>
    <div class="container">
      <div class="row">
        <h3 class="mb-3"><%= t('profile', name: @portfoliorrr_profile.name) %></h3>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= t('portfoliorrr_profile.attributes.name') %></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @portfoliorrr_profile.name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= t('portfoliorrr_profile.attributes.email') %></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @portfoliorrr_profile.email %></p>
                </div>
              </div>
            </div>
          </div>
          <% @portfoliorrr_profile.job_categories.each do |category| %>
            <div class="row">
              <div class="col-md-6">
                <div class="card mb-4 mb-md-4">
                  <div class="card-body">
                    <h4><%= category.name %></h4>
                    <hr>
                    <h6><%= category.description %></h6>    
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="my-3"><%= t('portfoliorrr_profile.attributes.cover_letter') %></h5>
              <h4 class="mb-4"><%= @portfoliorrr_profile.cover_letter %></h4>
            </div>
          </div>        
          <div class="card mb-4">
            <div class="card-body text-center">
              <%= render partial: 'invitation_form', locals: { current_invitation: @current_invitation, invitation: @invitation, profile: @portfoliorrr_profile, project: @project } %>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </section>
<% else %>
  <h3><%= t('profile_not_available') %></h3>
  <h3><%= t('try_again_later') %></h3>
<% end %>

