<div class="mt-3">
  <h1><%= Project.model_name.human %>: <%= project.title %></h1>
</div>

<div class="nav-scroller py-1 mb-3 border-bottom">
  <nav id="project-navbar" class="nav nav-underline">
    <%= link_to I18n.t(:details),
                project_path(project),
                class: "nav-item nav-link link-body-emphasis
                        #{'active' if current_page?(project_path(project))}" %>
    <%= link_to Task.model_name.human.pluralize,
                project_tasks_path(project),
                class: "nav-item nav-link link-body-emphasis
                        #{'active' if request.path.include?('/tasks')}" %>
    <%= link_to Meeting.model_name.human(count: 2),
                project_meetings_path(project),
                class: "nav-item nav-link link-body-emphasis
                        #{'active' if request.path.include?('/meeting')}" %>
    <%= link_to Document.model_name.human(count: 2),
                project_documents_path(project),
                class: "nav-item nav-link link-body-emphasis
                        #{'active' if request.path.include?('/documents')}" %>
    <%= link_to 'Calendário',
                project_calendars_path(project),
                class: "nav-item nav-link link-body-emphasis
                        #{'active' if request.path.include?('/calendars')}" %>
    <%= link_to t(:members), members_project_path(project),
                class: "nav-item nav-link link-body-emphasis
                #{'active' if request.path.include?('/members') ||
                           request.path.include?('/user_roles') }" %>
    <%= link_to t('forum.title'),
                project_forum_path(project),
                class: "nav-item nav-link link-body-emphasis
                #{'active' if request.path.include?('/forum')}",
                data: { turbo: false } %>
    <% if project.leader?(current_user) %>
      <%= link_to t(:search_users_btn),
                  search_project_portfoliorrr_profiles_path(project),
                  class: "nav-item nav-link link-body-emphasis
                          #{'active' if current_page?(search_project_portfoliorrr_profiles_path(project))}" %>
      <%= link_to Invitation.model_name.human(count: 2), 
                  project_invitations_path(project),
                  class: "nav-item nav-link link-body-emphasis
                         #{'active' if request.path.include?('/invitations')}" %>
      <%= link_to Proposal.model_name.human(count: 2), 
                  project_proposals_path(project),
                  class: "nav-item nav-link link-body-emphasis
                         #{'active' if request.path.include?('/proposals')}" %>
    <% end %>
  </nav>
</div>
