<%= render 'shared/project_header', project: @project %>

<section>
  <h2>Gerenciamento de Colaborador</h2>

  <%= form_with model: [@project, @user_role] do |f| %>
    <div>
      <%= @user_role.user.full_name %> <%= @user_role.user.email %>
    </div>
    <%= f.label :role %>
    <%= f.select :role, [['Administrador', :admin], ['Contribuidor', :contributor]] %>
    <%= f.submit 'Salvar' %>
  <% end %>

  <div class="mt-3">
    <%= link_to t(:back),
                members_project_path(@project),
                class: 'btn btn-secondary' %>
  </div>
</section>
