<p>
  <strong><%= @invitation.project.title %>: </strong>
  <%= @invitation.project.description %>
</p>
<p>
  <strong><%= Project.human_attribute_name :category %>: </strong>
  <%= @invitation.project.category %>
</p>
<p>
  <strong><%= Invitation.human_attribute_name :message %>: </strong>
  <%= @invitation.message %>
</p>
<p>
  <strong><%= Invitation.human_attribute_name :expiration_date %>: </strong>
  <%= l(@invitation.expiration_date) %>
</p>

<% if @invitation.pending? %>
  <div class="d-flex mb-3">
    <%= button_to I18n.t('invitations.accept_btn'),
                  accept_invitation_path(@invitation), method: :patch,
                  class: 'btn btn-success me-2' %>
    <%= button_to I18n.t('invitations.decline_btn'),
                  decline_invitation_path(@invitation), method: :patch,
                  class: 'btn btn-danger me-2' %>
  </div>
<% end %>

<%= 'Convite ja expirado' if @invitation.expired? %>
<%= 'Convite aceito'  if @invitation.accepted? %>
<%= 'Convite recusado'  if @invitation.declined? %>