<tr>
  <td><%= document.title %></td>
  <td><%= document.user.email %></td>
  <td><%= l(document.created_at.to_date) %></td>
  <td><%= link_to 'Detalhes', document_path(document) %></td>
  <td><%= link_to 'Download' %></td>
</tr>