<main>
  <%= link_to t(:back), 
      project_documents_path(@document.project),
      class: "btn btn-sm btn-secondary" %>

  <div id="document-details">
    <h1><%= @document.title %></h1>
    <dl>
      <dt>Descrição:</dt>
      <dd><%= simple_format @document.description %></dd>
      <dt>Autor:</dt>
      <dd><%= @document.user.email %></dd>
      <dt>Tamanho:</dt>
      <dd><%= number_to_human_size @document.file.byte_size %></dd>
      <dt>Criado em:</dt>
      <dd><%= l(@document.created_at.to_date) %></dd>
    </dl>

    <div>
      <% if @document.file.image? %>
        <%= image_tag @document.file, width: "200px" %>
      <% elsif @document.file.audio? %>
        <audio controls>
          <source src="<%= rails_blob_url @document.file %>"
                  type="<%= @document.file.content_type %>">
        </audio>
      <% elsif @document.file.video? %>
        <video controls width="480">
          <source src="<%= rails_blob_url @document.file %>"
                  type="<%= @document.file.content_type %>">
        </video>
      <% else %>
        <%= image_tag "document_placeholder.jpg",
            alt: "Ícone de documento",
            width: "100px" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= link_to t(:document_download_btn),
                  rails_blob_path(@document.file),
                  class: "btn btn-primary me-3" %>
      <% if @document.user == current_user %>
        <%= button_to t(:document_archive_btn), 
                      archive_document_path(@document), 
                      method: :patch,
                      data: { turbo_confirm: 'Arquivar documento?' },
                      class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</main>