<main>
  <%= link_to 'Voltar', project_documents_path(@document.project) %>

  <h1><%= @document.title %></h1>
  <p><%= simple_format @document.description %></p>
  
  <div>
    <% if @document.file.image? %>
      <%= image_tag @document.file %>
    <% end %>
  </div>

  <div>
    <%= link_to 'Download' %>
    <% if @document.user == current_user %>
      <%= button_to 'Arquivar' %>
    <% end %>
  </div>
</main>