<%= form_with model: @project do |f| %>
  <% if @project.errors.any? %>
    <div class='text-danger'>
      <h3>Erros:</h3>
      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :category, class: 'form-label' %>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Salvar Projeto', class: 'btn btn-primary'%>
  </div>
<% end %>