<%= render 'shared/project_header', project: @project %>

<div class="d-flex justify-content-start row mb-4">
  <div class="d-flex col-3 gap-2">
    <div class="btn-group" 
         role="group" 
         aria-label="Basic radio toggle button group">
      <%= link_to t('invitations.all_btn'), 
                  project_invitations_path(@project),
                  class: "btn btn-outline-primary #{'active' if params[:status].blank?}" %>
      <%= link_to t('invitations.pending_btn'), 
                  project_invitations_path(@project, params: { status: :pending }), 
                  class: "btn btn-outline-primary #{'active' if params[:status].eql? 'pending' }" %>
      <%= link_to t('invitations.accepted_btn'), 
                  project_invitations_path(@project, params: { status: :accepted }), 
                  class: "btn btn-outline-primary #{'active' if params[:status].eql? 'accepted' }" %>
      <%= link_to t('invitations.declined_btn'), 
                  project_invitations_path(@project, params: { status: :declined }), 
                  class: "btn btn-outline-primary #{'active' if params[:status].eql? 'declined' }" %>
      <%= link_to t('invitations.cancelled_btn'), 
                  project_invitations_path(@project, params: { status: :cancelled }), 
                  class: "btn btn-outline-primary #{'active' if params[:status].eql? 'cancelled' }" %>
      <%= link_to t('invitations.expired_btn'), 
                  project_invitations_path(@project, params: { status: :expired }), 
                  class: "btn btn-outline-primary #{'active' if params[:status].eql? 'expired' }" %>
    </div>
  </div>
</div>

<section id="invitations-list">
  <div class="container">
    <div class="row">
      <% @invitations.each do |invitation| %>
        <div class="col-6 mb-3">
          <div class="card h-100">
            <div class="card-header border-bottom border-3 border-<%= card_color(invitation.status) %> text-<%= card_color(invitation.status) %> bg-light bg-gradient display-6 fs-5">
              <%= t("invitations.#{invitation.status}") %>
              <% if invitation.pending? %>
               - <small class="card-text"><%= invitation_expiration_date(invitation) %></small>
              <% end %>
            </div>
            <div class="card-body bg-light bg-gradient">
              <div class="d-flex flex-column gap-2">
                <h5 class="card-title"><%= invitation.profile_email %></h5>
                <% if invitation.pending? %>
                  <%= link_to t(:view), 
                              project_portfoliorrr_profile_path(@project, invitation.profile_id),
                              class: 'btn btn-sm btn-outline-secondary' %>
                <% end %>
              </div>
            </div>
            <div class="card-footer text-muted">
              <%= t(:updated_at) %> <%= time_ago_in_words invitation.updated_at %> <%= t :ago %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @invitations.empty? %>
        <div class="text-muted text-center mt-5 display-6 fs-5">
          <%= t('invitations.empty_state') %>
        </div>
      <% end %>
    </div>
  </div>
</section>