<%= render 'shared/project_header', project: @project %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:full_name) %></th>
      <th><%= User.human_attribute_name :email %></th>
      <th><%= UserRole.human_attribute_name :role %></th>
      <% if @project.leader? current_user %>
        <th><%= t(:actions) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @leader.profile.full_name %></td>
      <td><%= @leader.email %></td>
      <td><%= UserRole.human_attribute_name 'role.leader' %></td>
    </tr>

    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.user.profile.full_name %></td>
        <td><%= admin.user.email %></td>
        <td><%= UserRole.human_attribute_name 'role.admin' %></td>
        <% if @project.leader? current_user %>
          <td><%= link_to I18n.t('.manage_member_btn'), root_path %></td>
        <% end %>
      </tr>
    <% end %>

    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.user.profile.full_name %></td>
        <td><%= contributor.user.email %></td>
        <td><%= UserRole.human_attribute_name 'role.contributor' %></td>
        <% if @project.leader? current_user %>
          <td><%= link_to I18n.t('.manage_member_btn'), root_path %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>