<h1><%= Project.model_name.human %>: <%= @project.title %></h1>
<dt><%= Project.human_attribute_name :description %></dt>
<dd><%= @project.description %></dd>
<dt><%= Project.human_attribute_name :category %></dt>
<dd><%= @project.category %></dd>

<%= link_to 'Nova Tarefa', new_project_task_path(@project) %>