<h1><%= Project.model_name.human %>: <%= @project.title %></h1>

<p>
  <strong><%= Project.human_attribute_name :user %>: </strong>
  <%= @project.user.email %>
</p>
<p>
  <strong><%= Project.human_attribute_name :description %>: </strong>
  <%= @project.description %>
</p>
<p>
  <strong><%= Project.human_attribute_name :category %>: </strong>
  <%= @project.category %>
</p>

<div>
  <%= link_to t(:edit_project_btn), edit_project_path(@project) %>
</div>
