<%= render 'shared/project_header', project: @project %>

<div class="mb-3 d-none">
  <%= link_to t(:edit_project_btn), 
              edit_project_path(@project), 
              class: 'btn btn-primary' %>
</div>

<p>
  <strong><%= Project.human_attribute_name :user %>: </strong>
  <%= @project.user.email %>
</p>
<p>
  <strong><%= Project.human_attribute_name :description %>: </strong>
  <%= @project.description %>
</p>
<p>
  <strong><%= Project.human_attribute_name :category %>: </strong>
  <%= @project.category %>
</p>


<div id="project_job_category">
<% if @project_job_categories.any? %>
    <strong><%= ProjectJobCategory.model_name.human(count: @project_job_categories.count) %></strong>
      <% if @job_categories.any? { |category| category.blank? } %>
        <%= t('project_job_categories.not_found') %>
      <% else %>
        <ul>
        <% @job_categories.each do |job_category| %>
          <li><%= job_category.name %></li>
        <% end %>
        </ul>
      <% end %>
<% else %>
  <div class="text-muted small">
    <%= t('project_job_categories.no_have') %>
  </div>
<% end %>
</div>

<hr>

<%= link_to t(:back), projects_path, class: 'btn btn-secondary' %>

<% if @project.leader?(current_user) %>
  <%= link_to t(:edit_project), edit_project_path(@project), class: 'btn btn-primary' %>
<% end %>
