<h1><%= Project.model_name.human %>: <%= @project.title %></h1>
<dl>
  <dt><%= Project.human_attribute_name :description %>: </dt>
  <dd><%= @project.description %></dd>
  <dt><%= Project.human_attribute_name :category %>: </dt>
  <dd><%= @project.category %></dd>
</dl>

<div>
  <%= link_to 'Editar Projeto', edit_project_path(@project) %>
</div>
