<%= link_to t(:back), projects_path, class: 'btn btn-secondary' %>

<%= render 'shared/project_header', project: @project %>

<div class="mb-3 d-none">
  <%= link_to t(:edit_project_btn), 
              edit_project_path(@project), 
              class: 'btn btn-primary' %>
</div>

<p>
  <strong><%= Project.human_attribute_name :user %>: </strong>
  <%= @project.user.email %>
</p>
<p>
  <strong><%= Project.human_attribute_name :description %>: </strong>
  <%= @project.description %>
</p>
<p>
  <strong><%= Project.human_attribute_name :category %>: </strong>
  <%= @project.category %>
</p>


