<%= render 'shared/project_header', project: @project %>

<div class="d-flex row justify-content-end mb-3">
  <div class="d-flex col-3 gap-2">
    <div class="btn-group" 
         role="group" 
         aria-label="Basic radio toggle button group">
      <%= link_to t('proposal.all'), 
                  project_proposals_path(@project), 
                  class: "btn btn-outline-primary #{'active' if params[:status].blank?}" %>
      <%= link_to Proposal.human_attribute_name('status.pending', count: 2), 
                  project_proposals_path(@project, params: { status: :pending }), 
                  class: "btn btn-outline-primary #{'active' if params[:status] == 'pending'}" %>
    </div>
  </div>
</div>

<% @proposals.each do |proposal| %>
  <div class="card">
    <div class="card-header bg-light bg-gradient">
      <%= Proposal.human_attribute_name("status.#{proposal.status}") %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= proposal.email %></h5>
      <p class="card-text">
        <%= proposal.message %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words proposal.created_at %> <%= t(:ago) %>
    </div>
  </div>
<% end %>
