<h1>Usuários disponíveis</h1>

<%= form_with url: search_project_contributors_path(@project), method: :get do |f| %>
  <div>
    <%= f.label :q, 'Busca:' %>
    <%= f.text_field :q %>
  </div>
  <div>
    <%= f.submit 'Buscar' %>
  </div>
<% end %>

<% if @contributors.any? %>
  <table class="table table-hover align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Nome</th>
        <th>Tipo de Serviço</th>
      </tr>
    </thead>
    <tbody>
      <% @contributors.each do |contributor| %>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">
                  <%= contributor.name %>
                </p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">
              <%= contributor.job_category %>
            </p>
          </td>
        </tr>
      <% end %>    
    </tbody>
  </table>
<% else %>
  <h3>Não há usuários a serem exibidos.</h3>
<% end %>
