<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cola?Bora!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class:"nav-link" %>
        <%= link_to 'Criar Projeto', new_project_path, class:"nav-link" %>
        <% if user_signed_in? %>
          <%= link_to 'Meu perfil', profile_path(current_user.profile), class: 'nav-link' %>
          <p class="nav-link"><%= current_user.email %></p>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to "Entrar", new_user_session_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
