<nav class="navbar navbar-expand-lg bg-light shadow-sm" id="navbar">
  <div class="container">
    <%= link_to 'Cola?Bora!', 
                root_path, 
                class:"navbar-brand" %>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t(:create_project_link), 
                        new_project_path, 
                        class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to Project.model_name.human(count: 2), 
                        projects_path, 
                        class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to Invitation.model_name.human(count: 2), 
                        invitations_path, 
                        class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(:my_profile), 
                        profile_path(current_user.profile), 
                        class: 'nav-link' %>
          </li>
          <li class="nav-link"><%= current_user.email %></li>
          <li class="nav-item">
            <%= button_to t(:log_out), 
                          destroy_user_session_path, 
                          method: :delete, 
                          class: 'btn btn-sm btn-outline-secondary' %>
          </li>
        <% else %>
          <li>
            <%= link_to t(:log_in), 
                        new_user_session_path, 
                        class: 'btn btn-primary link-light' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
