<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <div class="mb-3">
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div class="container">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
